body {
    font-family: Arial, sans-serif;
    text-align:center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
}
th {
    background-color:  #FFC0CB;
}
tr{
    background-color: #ffeaeeb8;
}
tr:hover {
    background-color: #ffe6ee;
}

/* Add styles for the dialog */
#dialog, #editDialog, #deleteDialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFC0CB; /* Light pink background color */
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	display: none;
	max-width: 400px; /* Limit dialog width */
}

/* Add styles for the overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
}
/* Add styles for the buttons */
button {
    border: 2px solid #ff85aa;
    background-color: transparent;
    padding: 10px 20px;
    color: #ff85aa;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:20px;
}
button:hover {
    background-color: #ff85aa;
    color: white;
    border-radius:20px;
}
.Login-Rgister-label{
	color: #000000;
}
.AddButton-user{
    display:flex;
    justify-content:flex-end;
    margin-right: 50px;
}
.delete-button-users{
	border: 2px solid #ff6961;
    color: #ff6961;
    background-color: transparent;
}
.delete-button-users:hover{
    background-color: #ff6961;
    color: white;
    border-radius:20px;
}
/* Styles for dialog form elements */
.register-form-container, .edit-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form-container input, .edit-form-container input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}
.register-form-container button, .edit-form-container button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f77fa1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.register-form-container button:hover, .edit-form-container button:hover {
    background-color: #ffffff;
    color:#f77fa1;
}